# Data Setup

In [1]:
import pandas as pd

# Read in all csvs
file1 = pd.read_csv('Data/2012c.csv')
file2 = pd.read_csv('Data/2013c.csv')
file3 = pd.read_csv('Data/2014c.csv')
file4 = pd.read_csv('Data/2015c.csv')
file5 = pd.read_csv('Data/2016c.csv')
file6 = pd.read_csv('Data/2017c.csv')
file7 = pd.read_csv('Data/2018c.csv')
file8 = pd.read_csv('Data/2019c.csv')
file9 = pd.read_csv('Data/2020c.csv')
file10 = pd.read_csv('Data/2021c.csv')
file11 = pd.read_csv('Data/2022c.csv')
file12 = pd.read_csv('Data/2012x.csv')
file13 = pd.read_csv('Data/2013x.csv')
file14 = pd.read_csv('Data/2014x.csv')
file15 = pd.read_csv('Data/2015x.csv')
file16 = pd.read_csv('Data/2016x.csv')
file17 = pd.read_csv('Data/2017x.csv')
file18 = pd.read_csv('Data/2018x.csv')
file19 = pd.read_csv('Data/2019x.csv')
file20 = pd.read_csv('Data/2020x.csv')
file21 = pd.read_csv('Data/2021x.csv')
file22 = pd.read_csv('Data/2022x.csv')
file23 = pd.read_csv('Data/2012t.csv')
file24 = pd.read_csv('Data/2013t.csv')
file25 = pd.read_csv('Data/2014t.csv')
file26 = pd.read_csv('Data/2015t.csv')
file27 = pd.read_csv('Data/2016t.csv')
file28 = pd.read_csv('Data/2017t.csv')
file29 = pd.read_csv('Data/2018t.csv')
file30 = pd.read_csv('Data/2019t.csv')
file31 = pd.read_csv('Data/2020t.csv')
file32 = pd.read_csv('Data/2021t.csv')
file33 = pd.read_csv('Data/2022t.csv')



# Merge two DataFrames for each year and merge based on the "Player" column
merged_data_2012 = pd.merge(file1, file12, on='Player', how='inner')
merged_data_2013 = pd.merge(file2, file13, on='Player', how='inner')
merged_data_2014 = pd.merge(file3, file14, on='Player', how='inner')
merged_data_2015 = pd.merge(file4, file15, on='Player', how='inner')
merged_data_2016 = pd.merge(file5, file16, on='Player', how='inner')
merged_data_2017 = pd.merge(file6, file17, on='Player', how='inner')
merged_data_2018 = pd.merge(file7, file18, on='Player', how='inner')
merged_data_2019 = pd.merge(file8, file19, on='Player', how='inner')
merged_data_2020 = pd.merge(file9, file20, on='Player', how='inner')
merged_data_2021 = pd.merge(file10, file21, on='Player', how='inner')
merged_data_2022 = pd.merge(file11, file22, on='Player', how='inner')

In [2]:
fmerged_data_2012 = pd.merge(merged_data_2012, file23, on='Player', how='inner')
fmerged_data_2013 = pd.merge(merged_data_2013, file24, on='Player', how='inner')
fmerged_data_2014 = pd.merge(merged_data_2014, file25, on='Player', how='inner')
fmerged_data_2015 = pd.merge(merged_data_2015, file26, on='Player', how='inner')
fmerged_data_2016 = pd.merge(merged_data_2016, file27, on='Player', how='inner')
fmerged_data_2017 = pd.merge(merged_data_2017, file28, on='Player', how='inner')
fmerged_data_2018 = pd.merge(merged_data_2018, file29, on='Player', how='inner')
fmerged_data_2019 = pd.merge(merged_data_2019, file30, on='Player', how='inner')
fmerged_data_2020 = pd.merge(merged_data_2020, file31, on='Player', how='inner')
fmerged_data_2021 = pd.merge(merged_data_2021, file32, on='Player', how='inner')
fmerged_data_2022 = pd.merge(merged_data_2022, file33, on='Player', how='inner')

In [3]:
master_combined_data = pd.concat([fmerged_data_2012,
fmerged_data_2013,
fmerged_data_2014,
fmerged_data_2015,
fmerged_data_2016,
fmerged_data_2017,
fmerged_data_2018,
fmerged_data_2019,
fmerged_data_2020,
fmerged_data_2021,
fmerged_data_2022])

master_combined_data

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,-9999,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Player-additional_x,Drafted (tm/rnd/yr),Player-additional_y
0,1,1,Andrew Luck,QB,0,4,Stanford,LuckAn00,6-4,234.0,4.59,36.0,NaN,124.0,6.80,4.28,LuckAn00,Indianapolis Colts / 1st / 1st pick / 2012,LuckAn00
1,1,3,Trent Richardson,RB,0,0,Alabama,RichTr00,5-9,228.0,4.48,NaN,NaN,NaN,NaN,NaN,RichTr00,Cleveland Browns / 1st / 3rd pick / 2012,RichTr00
2,1,4,Matt Kalil,T,0,1,USC,KaliMa00,6-7,306.0,4.96,27.0,30.0,NaN,7.33,4.65,KaliMa00,Minnesota Vikings / 1st / 4th pick / 2012,KaliMa00
3,1,5,Justin Blackmon,WR,0,0,Oklahoma St.,BlacJu00,6-1,207.0,4.46,NaN,14.0,NaN,NaN,NaN,BlacJu00,Jacksonville Jaguars / 1st / 5th pick / 2012,BlacJu00
4,1,6,Morris Claiborne,DB,0,0,LSU,ClaiMo00,5-11,188.0,4.50,34.5,NaN,118.0,7.01,4.12,ClaiMo00,Dallas Cowboys / 1st / 6th pick / 2012,ClaiMo00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,7,251,Isiah Pacheco,RB,0,0,Rutgers,PachIs00,5-10,216.0,4.37,33.0,NaN,118.0,NaN,NaN,PachIs00,Kansas City Chiefs / 7th / 251st pick / 2022,PachIs00
205,7,255,Trenton Gill,P,0,0,North Carolina St.,GillTr01,6-4,220.0,NaN,NaN,NaN,NaN,NaN,NaN,GillTr01,Chicago Bears / 7th / 255th pick / 2022,GillTr01
206,7,256,Jesse Luketa,LB,0,0,Penn St.,LukeJe00,6-3,253.0,4.89,37.5,NaN,114.0,NaN,NaN,LukeJe00,Arizona Cardinals / 7th / 256th pick / 2022,LukeJe00
207,7,257,Marquis Hayes,OL,0,0,Oklahoma,HayeMa00,6-5,318.0,5.30,23.5,NaN,102.0,NaN,NaN,HayeMa00,Arizona Cardinals / 7th / 257th pick / 2022,HayeMa00
208,7,262,Brock Purdy,QB,0,0,Iowa St.,PurdBr00,6-1,212.0,4.84,27.0,NaN,NaN,7.21,4.45,PurdBr00,San Francisco 49ers / 7th / 262nd pick / 2022,PurdBr00

In [4]:
# Save the master combined DataFrame as a CSV file
##master_combined_data.to_csv('Data/eleven_year_data.csv', index=False)

# Data Cleaning

In [5]:
df = pd.read_csv('Data/eleven_year_data.csv')
df.head()

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,-9999,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Player-additional_x,Drafted (tm/rnd/yr),Player-additional_y
0,1,1,Andrew Luck,QB,0,4,Stanford,LuckAn00,6-4,234.0,4.59,36.0,NaN,124.0,6.80,4.28,LuckAn00,Indianapolis Colts / 1st / 1st pick / 2012,LuckAn00
1,1,3,Trent Richardson,RB,0,0,Alabama,RichTr00,5-9,228.0,4.48,NaN,NaN,NaN,NaN,NaN,RichTr00,Cleveland Browns / 1st / 3rd pick / 2012,RichTr00
2,1,4,Matt Kalil,T,0,1,USC,KaliMa00,6-7,306.0,4.96,27.0,30.0,NaN,7.33,4.65,KaliMa00,Minnesota Vikings / 1st / 4th pick / 2012,KaliMa00
3,1,5,Justin Blackmon,WR,0,0,Oklahoma St.,BlacJu00,6-1,207.0,4.46,NaN,14.0,NaN,NaN,NaN,BlacJu00,Jacksonville Jaguars / 1st / 5th pick / 2012,BlacJu00
4,1,6,Morris Claiborne,DB,0,0,LSU,ClaiMo00,5-11,188.0,4.50,34.5,NaN,118.0,7.01,4.12,ClaiMo00,Dallas Cowboys / 1st / 6th pick / 2012,ClaiMo00

In [6]:
df['AP1'] = df['AP1'].apply(lambda x: 1 if x > 0 else 0)
df['PB'] = df['PB'].apply(lambda x: 1 if x > 0 else 0)

In [7]:
df.head()

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,-9999,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Player-additional_x,Drafted (tm/rnd/yr),Player-additional_y
0,1,1,Andrew Luck,QB,0,1,Stanford,LuckAn00,6-4,234.0,4.59,36.0,NaN,124.0,6.80,4.28,LuckAn00,Indianapolis Colts / 1st / 1st pick / 2012,LuckAn00
1,1,3,Trent Richardson,RB,0,0,Alabama,RichTr00,5-9,228.0,4.48,NaN,NaN,NaN,NaN,NaN,RichTr00,Cleveland Browns / 1st / 3rd pick / 2012,RichTr00
2,1,4,Matt Kalil,T,0,1,USC,KaliMa00,6-7,306.0,4.96,27.0,30.0,NaN,7.33,4.65,KaliMa00,Minnesota Vikings / 1st / 4th pick / 2012,KaliMa00
3,1,5,Justin Blackmon,WR,0,0,Oklahoma St.,BlacJu00,6-1,207.0,4.46,NaN,14.0,NaN,NaN,NaN,BlacJu00,Jacksonville Jaguars / 1st / 5th pick / 2012,BlacJu00
4,1,6,Morris Claiborne,DB,0,0,LSU,ClaiMo00,5-11,188.0,4.50,34.5,NaN,118.0,7.01,4.12,ClaiMo00,Dallas Cowboys / 1st / 6th pick / 2012,ClaiMo00

In [8]:
df[['Feet', 'Inches']] = df['Ht'].str.split('-', expand=True)

In [9]:
df['Feet'] = pd.to_numeric(df['Feet'])
df['Inches'] = pd.to_numeric(df['Inches'])
df['Ht'] = df['Feet'] * 12 + df['Inches']

In [10]:
df.head()

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,-9999,Ht,Wt,...,Vertical,Bench,Broad Jump,3Cone,Shuttle,Player-additional_x,Drafted (tm/rnd/yr),Player-additional_y,Feet,Inches
0,1,1,Andrew Luck,QB,0,1,Stanford,LuckAn00,76.0,234.0,...,36.0,NaN,124.0,6.80,4.28,LuckAn00,Indianapolis Colts / 1st / 1st pick / 2012,LuckAn00,6.0,4.0
1,1,3,Trent Richardson,RB,0,0,Alabama,RichTr00,69.0,228.0,...,NaN,NaN,NaN,NaN,NaN,RichTr00,Cleveland Browns / 1st / 3rd pick / 2012,RichTr00,5.0,9.0
2,1,4,Matt Kalil,T,0,1,USC,KaliMa00,79.0,306.0,...,27.0,30.0,NaN,7.33,4.65,KaliMa00,Minnesota Vikings / 1st / 4th pick / 2012,KaliMa00,6.0,7.0
3,1,5,Justin Blackmon,WR,0,0,Oklahoma St.,BlacJu00,73.0,207.0,...,NaN,14.0,NaN,NaN,NaN,BlacJu00,Jacksonville Jaguars / 1st / 5th pick / 2012,BlacJu00,6.0,1.0
4,1,6,Morris Claiborne,DB,0,0,LSU,ClaiMo00,71.0,188.0,...,34.5,NaN,118.0,7.01,4.12,ClaiMo00,Dallas Cowboys / 1st / 6th pick / 2012,ClaiMo00,5.0,11.0

In [11]:
df['Drafted_Binary'] = df['Drafted (tm/rnd/yr)'].notna().astype(int)

In [12]:
df

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,-9999,Ht,Wt,...,Bench,Broad Jump,3Cone,Shuttle,Player-additional_x,Drafted (tm/rnd/yr),Player-additional_y,Feet,Inches,Drafted_Binary
0,1,1,Andrew Luck,QB,0,1,Stanford,LuckAn00,76.0,234.0,...,NaN,124.0,6.80,4.28,LuckAn00,Indianapolis Colts / 1st / 1st pick / 2012,LuckAn00,6.0,4.0,1
1,1,3,Trent Richardson,RB,0,0,Alabama,RichTr00,69.0,228.0,...,NaN,NaN,NaN,NaN,RichTr00,Cleveland Browns / 1st / 3rd pick / 2012,RichTr00,5.0,9.0,1
2,1,4,Matt Kalil,T,0,1,USC,KaliMa00,79.0,306.0,...,30.0,NaN,7.33,4.65,KaliMa00,Minnesota Vikings / 1st / 4th pick / 2012,KaliMa00,6.0,7.0,1
3,1,5,Justin Blackmon,WR,0,0,Oklahoma St.,BlacJu00,73.0,207.0,...,14.0,NaN,NaN,NaN,BlacJu00,Jacksonville Jaguars / 1st / 5th pick / 2012,BlacJu00,6.0,1.0,1
4,1,6,Morris Claiborne,DB,0,0,LSU,ClaiMo00,71.0,188.0,...,NaN,118.0,7.01,4.12,ClaiMo00,Dallas Cowboys / 1st / 6th pick / 2012,ClaiMo00,5.0,11.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,7,251,Isiah Pacheco,RB,0,0,Rutgers,PachIs00,70.0,216.0,...,NaN,118.0,NaN,NaN,PachIs00,Kansas City Chiefs / 7th / 251st pick / 2022,PachIs00,5.0,10.0,1
2305,7,255,Trenton Gill,P,0,0,North Carolina St.,GillTr01,76.0,220.0,...,NaN,NaN,NaN,NaN,GillTr01,Chicago Bears / 7th / 255th pick / 2022,GillTr01,6.0,4.0,1
2306,7,256,Jesse Luketa,LB,0,0,Penn St.,LukeJe00,75.0,253.0,...,NaN,114.0,NaN,NaN,LukeJe00,Arizona Cardinals / 7th / 256th pick / 2022,LukeJe00,6.0,3.0,1
2307,7,257,Marquis Hayes,OL,0,0,Oklahoma,HayeMa00,77.0,318.0,...,NaN,102.0,NaN,NaN,HayeMa00,Arizona Cardinals / 7th / 257th pick / 2022,HayeMa00,6.0,5.0,1
2308,7,262,Brock Purdy,QB,0,0,Iowa St.,PurdBr00,73.0,212.0,...,NaN,NaN,7.21,4.45,PurdBr00,San Francisco 49ers / 7th / 262nd pick / 2022,PurdBr00,6.0,1.0,1

In [13]:
columns_to_drop = ['-9999', 'Player-additional_x', 'Player-additional_y', 'Feet', 'Inches', 'Drafted (tm/rnd/yr)']
df = df.drop(columns=columns_to_drop)

In [14]:
df.head()

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted_Binary
0,1,1,Andrew Luck,QB,0,1,Stanford,76.0,234.0,4.59,36.0,NaN,124.0,6.80,4.28,1
1,1,3,Trent Richardson,RB,0,0,Alabama,69.0,228.0,4.48,NaN,NaN,NaN,NaN,NaN,1
2,1,4,Matt Kalil,T,0,1,USC,79.0,306.0,4.96,27.0,30.0,NaN,7.33,4.65,1
3,1,5,Justin Blackmon,WR,0,0,Oklahoma St.,73.0,207.0,4.46,NaN,14.0,NaN,NaN,NaN,1
4,1,6,Morris Claiborne,DB,0,0,LSU,71.0,188.0,4.50,34.5,NaN,118.0,7.01,4.12,1

# Imputation

In [15]:
positions = df['Pos'].unique()

# Iterate over each position group
for pos in positions:
    # Filter the data for the current position
    pos_data = df[df['Pos'] == pos].copy()

    # Calculate the mean for selected columns
    mean_values = pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']].mean()

    # Impute missing values with mean values in the copy
    pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']] = pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']].fillna(mean_values)

    # Merge imputed data back into the original dataset
    df.update(pos_data)

df

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted_Binary
0,1.0,1.0,Andrew Luck,QB,0.0,1.0,Stanford,76.0,234.0,4.590000,36.000000,NaN,124.000000,6.800000,4.280000,1.0
1,1.0,3.0,Trent Richardson,RB,0.0,0.0,Alabama,69.0,228.0,4.480000,34.626404,18.960000,120.636905,7.038725,4.262870,1.0
2,1.0,4.0,Matt Kalil,T,0.0,1.0,USC,79.0,306.0,4.960000,27.000000,30.000000,105.500000,7.330000,4.650000,1.0
3,1.0,5.0,Justin Blackmon,WR,0.0,0.0,Oklahoma St.,73.0,207.0,4.460000,35.839015,14.000000,122.860465,6.944684,4.222308,1.0
4,1.0,6.0,Morris Claiborne,DB,0.0,0.0,LSU,71.0,188.0,4.500000,34.500000,15.413534,118.000000,7.010000,4.120000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,7.0,251.0,Isiah Pacheco,RB,0.0,0.0,Rutgers,70.0,216.0,4.370000,33.000000,18.960000,118.000000,7.038725,4.262870,1.0
2305,7.0,255.0,Trenton Gill,P,0.0,0.0,North Carolina St.,76.0,220.0,4.795385,31.800000,23.000000,117.200000,7.030000,4.130000,1.0
2306,7.0,256.0,Jesse Luketa,LB,0.0,0.0,Penn St.,75.0,253.0,4.890000,37.500000,22.419847,114.000000,7.079314,4.281776,1.0
2307,7.0,257.0,Marquis Hayes,OL,0.0,0.0,Oklahoma,77.0,318.0,5.300000,23.500000,27.140000,102.000000,7.720667,4.706000,1.0
2308,7.0,262.0,Brock Purdy,QB,0.0,0.0,Iowa St.,73.0,212.0,4.840000,27.000000,NaN,112.619048,7.210000,4.450000,1.0

In [16]:
df = df[df['Pos'] != 'K']

In [17]:
df

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted_Binary
0,1.0,1.0,Andrew Luck,QB,0.0,1.0,Stanford,76.0,234.0,4.590000,36.000000,NaN,124.000000,6.800000,4.280000,1.0
1,1.0,3.0,Trent Richardson,RB,0.0,0.0,Alabama,69.0,228.0,4.480000,34.626404,18.960000,120.636905,7.038725,4.262870,1.0
2,1.0,4.0,Matt Kalil,T,0.0,1.0,USC,79.0,306.0,4.960000,27.000000,30.000000,105.500000,7.330000,4.650000,1.0
3,1.0,5.0,Justin Blackmon,WR,0.0,0.0,Oklahoma St.,73.0,207.0,4.460000,35.839015,14.000000,122.860465,6.944684,4.222308,1.0
4,1.0,6.0,Morris Claiborne,DB,0.0,0.0,LSU,71.0,188.0,4.500000,34.500000,15.413534,118.000000,7.010000,4.120000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,7.0,251.0,Isiah Pacheco,RB,0.0,0.0,Rutgers,70.0,216.0,4.370000,33.000000,18.960000,118.000000,7.038725,4.262870,1.0
2305,7.0,255.0,Trenton Gill,P,0.0,0.0,North Carolina St.,76.0,220.0,4.795385,31.800000,23.000000,117.200000,7.030000,4.130000,1.0
2306,7.0,256.0,Jesse Luketa,LB,0.0,0.0,Penn St.,75.0,253.0,4.890000,37.500000,22.419847,114.000000,7.079314,4.281776,1.0
2307,7.0,257.0,Marquis Hayes,OL,0.0,0.0,Oklahoma,77.0,318.0,5.300000,23.500000,27.140000,102.000000,7.720667,4.706000,1.0
2308,7.0,262.0,Brock Purdy,QB,0.0,0.0,Iowa St.,73.0,212.0,4.840000,27.000000,NaN,112.619048,7.210000,4.450000,1.0

In [18]:
# Replace NaN values in 'Bench' with -9999 for positions that don't compete
df['Bench'].fillna(15, inplace=True)

C:\Users\553me\AppData\Local\Temp\ipykernel_32112\1261737949.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bench'].fillna(15, inplace=True)

In [19]:
df

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted_Binary
0,1.0,1.0,Andrew Luck,QB,0.0,1.0,Stanford,76.0,234.0,4.590000,36.000000,15.000000,124.000000,6.800000,4.280000,1.0
1,1.0,3.0,Trent Richardson,RB,0.0,0.0,Alabama,69.0,228.0,4.480000,34.626404,18.960000,120.636905,7.038725,4.262870,1.0
2,1.0,4.0,Matt Kalil,T,0.0,1.0,USC,79.0,306.0,4.960000,27.000000,30.000000,105.500000,7.330000,4.650000,1.0
3,1.0,5.0,Justin Blackmon,WR,0.0,0.0,Oklahoma St.,73.0,207.0,4.460000,35.839015,14.000000,122.860465,6.944684,4.222308,1.0
4,1.0,6.0,Morris Claiborne,DB,0.0,0.0,LSU,71.0,188.0,4.500000,34.500000,15.413534,118.000000,7.010000,4.120000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,7.0,251.0,Isiah Pacheco,RB,0.0,0.0,Rutgers,70.0,216.0,4.370000,33.000000,18.960000,118.000000,7.038725,4.262870,1.0
2305,7.0,255.0,Trenton Gill,P,0.0,0.0,North Carolina St.,76.0,220.0,4.795385,31.800000,23.000000,117.200000,7.030000,4.130000,1.0
2306,7.0,256.0,Jesse Luketa,LB,0.0,0.0,Penn St.,75.0,253.0,4.890000,37.500000,22.419847,114.000000,7.079314,4.281776,1.0
2307,7.0,257.0,Marquis Hayes,OL,0.0,0.0,Oklahoma,77.0,318.0,5.300000,23.500000,27.140000,102.000000,7.720667,4.706000,1.0
2308,7.0,262.0,Brock Purdy,QB,0.0,0.0,Iowa St.,73.0,212.0,4.840000,27.000000,15.000000,112.619048,7.210000,4.450000,1.0

In [20]:
has_nan = df.isna().any().any()

if has_nan:
    print("There are NaN values in the DataFrame.")
else:
    print("There are no NaN values in the DataFrame.")

There are NaN values in the DataFrame.

In [21]:
nan_locations = df[df.isna().any(axis=1)]

# Print rows and columns with NaN values
print("Rows with NaN values:")
print(nan_locations)

print("\nColumns with NaN values:")
print(df.columns[df.isna().any()].tolist())

Rows with NaN values:
      Rnd   Pick             Player Pos  AP1   PB    College/Univ  Ht     Wt  \
1911  2.0   34.0       Elijah Moore  WR  0.0  0.0     Mississippi NaN    NaN
1939  3.0   65.0        Andre Cisco  DB  0.0  0.0        Syracuse NaN    NaN
1942  3.0   70.0  Brady Christensen  OL  0.0  0.0             BYU NaN    NaN
1982  4.0  116.0      Elerson Smith  DL  0.0  0.0   Northern Iowa NaN    NaN
2003  4.0  143.0    Tyree Gillespie   S  0.0  0.0        Missouri NaN    NaN
2009  5.0  150.0   Kenneth Gainwell  RB  0.0  0.0         Memphis NaN  201.0
2027  5.0  170.0      Garret Wallow  LB  0.0  0.0             TCU NaN    NaN
2035  5.0  180.0    Talanoa Hufanga   S  1.0  1.0             USC NaN    NaN
2043  6.0  188.0    Joshuah Bledsoe   S  0.0  0.0        Missouri NaN    NaN
2052  6.0  198.0     Larry Rountree  RB  0.0  0.0        Missouri NaN    NaN
2069  6.0  216.0       Quincy Roche  DL  0.0  0.0      Miami (FL) NaN    NaN
2074  6.0  222.0    Thomas Fletcher  LS  0.0  0.0         Alabama NaN    NaN
2076  6.0  227.0     Israel Mukuamu  DB  0.0  0.0  South Carolina NaN    NaN
2095  7.0  250.0      Khyiris Tonga  DL  0.0  0.0             BYU NaN    NaN
2099  7.0  258.0          Dax Milne  WR  0.0  0.0             BYU NaN    NaN

          40yd   Vertical     Bench  Broad Jump     3Cone   Shuttle  \
1911  4.350000  36.000000  17.00000  121.000000  6.630000  4.070000
1939  4.495793  35.929577  17.00000  123.449275  6.936545  4.190702
1942  5.155479  34.000000  30.00000  124.000000  7.720667  4.706000
1982  4.710000  41.500000  26.00000  127.000000  7.000000  4.390000
2003  4.380000  36.032051  15.00000  123.737500  7.060000  4.187000
2009  4.420000  34.626404  21.00000  120.636905  7.038725  4.262870
2027  4.650000  32.500000  22.00000  122.000000  6.870000  4.120000
2035  4.650000  36.032051  17.39726  123.737500  6.911795  4.187000
2043  4.511220  36.032051  17.39726  123.737500  6.911795  4.187000
2052  4.620000  30.000000  18.96000  120.636905  6.960000  4.262870
2069  4.842632  32.500000  23.00000  119.000000  7.344615  4.525000
2074  5.030000  29.875000  30.00000  112.333333  7.240000  4.450000
2076  4.495793  36.000000  34.00000  123.449275  6.936545  4.190702
2095  4.842632  32.857895  35.00000  115.789474  7.344615  4.525000
2099  4.540000  31.000000  14.00000  114.000000  6.944684  4.190000

      Drafted_Binary
1911             1.0
1939             1.0
1942             1.0
1982             1.0
2003             1.0
2009             1.0
2027             1.0
2035             1.0
2043             1.0
2052             1.0
2069             1.0
2074             0.0
2076             1.0
2095             1.0
2099             1.0

Columns with NaN values:
['Ht', 'Wt']

In [22]:
df.dropna(inplace=True)

C:\Users\553me\AppData\Local\Temp\ipykernel_32112\1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [23]:
has_nan = df.isna().any().any()

if has_nan:
    print("There are NaN values in the DataFrame.")
else:
    print("There are no NaN values in the DataFrame.")

There are no NaN values in the DataFrame.

In [24]:
unique_positions = df['Pos'].unique()
print(unique_positions)

['QB' 'RB' 'T' 'WR' 'DB' 'LB' 'DT' 'DE' 'G' 'TE' 'C' 'P' 'OL' 'NT' 'FB'
 'OLB' 'CB' 'S' 'ILB' 'LS' 'DL']

In [25]:
position_encoding = {
    'QB': 1,
    'RB': 2,
    'T': 3,
    'WR': 4,
    'DB': 5,
    'LB': 6,
    'DT': 7,
    'DE': 8,
    'G': 9,
    'TE': 10,
    'C': 11,
    'P': 12,
    'OL': 13,
    'NT': 14,
    'FB': 15,
    'OLB': 16,
    'CB': 17,
    'S': 18,
    'ILB': 19,
    'LS': 20,
    'DL': 21,
}
df['Pos_encoded'] = df['Pos'].map(position_encoding)

C:\Users\553me\AppData\Local\Temp\ipykernel_32112\1412481398.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Pos_encoded'] = df['Pos'].map(position_encoding)

In [26]:
df

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted_Binary,Pos_encoded
0,1.0,1.0,Andrew Luck,QB,0.0,1.0,Stanford,76.0,234.0,4.590000,36.000000,15.000000,124.000000,6.800000,4.280000,1.0,1
1,1.0,3.0,Trent Richardson,RB,0.0,0.0,Alabama,69.0,228.0,4.480000,34.626404,18.960000,120.636905,7.038725,4.262870,1.0,2
2,1.0,4.0,Matt Kalil,T,0.0,1.0,USC,79.0,306.0,4.960000,27.000000,30.000000,105.500000,7.330000,4.650000,1.0,3
3,1.0,5.0,Justin Blackmon,WR,0.0,0.0,Oklahoma St.,73.0,207.0,4.460000,35.839015,14.000000,122.860465,6.944684,4.222308,1.0,4
4,1.0,6.0,Morris Claiborne,DB,0.0,0.0,LSU,71.0,188.0,4.500000,34.500000,15.413534,118.000000,7.010000,4.120000,1.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,7.0,251.0,Isiah Pacheco,RB,0.0,0.0,Rutgers,70.0,216.0,4.370000,33.000000,18.960000,118.000000,7.038725,4.262870,1.0,2
2305,7.0,255.0,Trenton Gill,P,0.0,0.0,North Carolina St.,76.0,220.0,4.795385,31.800000,23.000000,117.200000,7.030000,4.130000,1.0,12
2306,7.0,256.0,Jesse Luketa,LB,0.0,0.0,Penn St.,75.0,253.0,4.890000,37.500000,22.419847,114.000000,7.079314,4.281776,1.0,6
2307,7.0,257.0,Marquis Hayes,OL,0.0,0.0,Oklahoma,77.0,318.0,5.300000,23.500000,27.140000,102.000000,7.720667,4.706000,1.0,13
2308,7.0,262.0,Brock Purdy,QB,0.0,0.0,Iowa St.,73.0,212.0,4.840000,27.000000,15.000000,112.619048,7.210000,4.450000,1.0,1

In [27]:
unique_schools = df['College/Univ'].unique()
print(unique_schools)

['Stanford' 'Alabama' 'USC' 'Oklahoma St.' 'LSU' 'Texas A&M' 'Boston Col.'
 'South Carolina' 'Memphis' 'Mississippi St.' 'Notre Dame' 'West Virginia'
 'North Carolina' 'Boise St.' 'Baylor' 'Syracuse' 'Iowa' 'Illinois'
 'Wisconsin' 'Virginia Tech' 'Appalachian St.' 'Cincinnati' 'California'
 'Clemson' 'Midwestern St.' 'Georgia' 'Georgia Tech' 'Connecticut'
 'Michigan St.' 'Penn St.' 'Oklahoma' 'Ohio St.' 'Arizona St.' 'Nebraska'
 'Marshall' 'Iowa St.' 'Oregon' 'Vanderbilt' 'Montana' 'Central Florida'
 'San Diego St.' 'North Carolina St.' 'SMU' 'Miami (FL)' 'Arkansas St.'
 'Missouri' 'Michigan' 'Rutgers' 'Temple' 'Louisiana' 'Arizona' 'Arkansas'
 'Southern Miss' 'Florida International' 'Utah' 'Wake Forest'
 'Florida St.' 'Utah St.' 'Fresno St.' 'Washington' 'Mississippi'
 'Florida' 'Texas' 'Nevada' 'South Carolina St.' 'Auburn' 'Maine'
 'Tennessee' 'Coastal Carolina' 'TCU' 'Colorado' 'Samford' 'Troy'
 'Cal Poly-San Luis Obispo' 'Florida Atlantic' 'Presbyterian' 'Kentucky'
 'South Dakota' 'Ala-Birmingham' 'Ohio' 'Rice' 'Northwestern' 'Virginia'
 'Chattanooga' 'Western Michigan' 'Northern Illinois' 'Central Michigan'
 'Houston' 'UCLA' 'Purdue' 'Kansas St.' 'Southeastern Louisiana'
 'Kent St.' 'Ark-Pine Bluff' 'Oregon St.' 'Georgia Southern'
 'South Florida' 'Missouri Southern' 'Valdosta St.' 'William & Mary'
 'James Madison' 'Cornell' 'Louisiana Tech' 'UT Martin' 'Western Kentucky'
 'Kansas' 'San Jose St.' 'Jacksonville St.' 'Bowling Green'
 'East Central (OK)' 'Southern Utah' 'Chadron St.' 'Harding'
 'Missouri Western St.' 'Miami (OH)' 'Washington St.' 'Elon'
 'New Hampshire' 'Florida A&M' 'Duke' 'Buffalo' 'Pittsburgh' 'Louisville'
 'Minnesota' 'BYU' 'Colorado St.' 'Texas Tech' 'Indiana' 'East. Illinois'
 'North Dakota St.' 'Maryland' 'Pittsburg St.' 'Towson' 'Wyoming'
 'Lindenwood' 'Bloomsburg' 'Furman' 'Tulane' 'Tennessee St.' 'Princeton'
 'Ball St.' 'NW Missouri St.' 'Concordia-St.Paul (MN)' 'Massachusetts'
 'Saginaw Valley St.' 'Hobart' 'Texas St.' 'Northern Iowa' 'East Carolina'
 'Southern Illinois' 'Navy' 'Delaware' 'Northwestern St. (LA)' 'Hawaii'
 'Newberry' 'East. Kentucky' 'North Carolina Central' 'Grand Valley St.'
 'Harvard' 'Texas-San Antonio' 'Montana St.' 'South Alabama' 'Ashland'
 'Villanova' 'Charlotte' 'East. Washington' 'Youngstown St.' 'Toledo'
 'North Carolina A&T' 'Kutztown (PA)' 'Drake' 'West Georgia'
 'Texas-El Paso' 'Georgia St.' 'South Dakota St.' 'Fort Hays St.'
 'Humboldt St.' 'Richmond' 'Weber St.' 'New Mexico St.' 'Fordham'
 'S.F. Austin' 'Illinois St.' 'Wagner' 'Middle Tenn. St.' 'Alabama St.'
 'Western Illinois' 'Sioux Falls' 'Old Dominion' 'East. Michigan'
 'Charleston (WV)' 'Washburn' 'Morgan St.' 'Lenoir-Rhyne' 'Dayton'
 "Saint John's (MN)" 'Tulsa' 'Liberty' 'Rhode Island'
 'Wisconsin–Whitewater' 'North Texas' 'Central Arkansas'
 'Central Missouri St.' 'Fayetteville St.' 'North Dakota'
 'Sam Houston St.' 'Air Force' 'Southern']

In [28]:
school_encoding = {}
for i, school in enumerate(unique_schools):
    school_encoding[school] = i

In [29]:
df['College/Univ_encoded'] = df['College/Univ'].map(school_encoding)

C:\Users\553me\AppData\Local\Temp\ipykernel_32112\3514403639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['College/Univ_encoded'] = df['College/Univ'].map(school_encoding)

In [30]:
df

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted_Binary,Pos_encoded,College/Univ_encoded
0,1.0,1.0,Andrew Luck,QB,0.0,1.0,Stanford,76.0,234.0,4.590000,36.000000,15.000000,124.000000,6.800000,4.280000,1.0,1,0
1,1.0,3.0,Trent Richardson,RB,0.0,0.0,Alabama,69.0,228.0,4.480000,34.626404,18.960000,120.636905,7.038725,4.262870,1.0,2,1
2,1.0,4.0,Matt Kalil,T,0.0,1.0,USC,79.0,306.0,4.960000,27.000000,30.000000,105.500000,7.330000,4.650000,1.0,3,2
3,1.0,5.0,Justin Blackmon,WR,0.0,0.0,Oklahoma St.,73.0,207.0,4.460000,35.839015,14.000000,122.860465,6.944684,4.222308,1.0,4,3
4,1.0,6.0,Morris Claiborne,DB,0.0,0.0,LSU,71.0,188.0,4.500000,34.500000,15.413534,118.000000,7.010000,4.120000,1.0,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,7.0,251.0,Isiah Pacheco,RB,0.0,0.0,Rutgers,70.0,216.0,4.370000,33.000000,18.960000,118.000000,7.038725,4.262870,1.0,2,47
2305,7.0,255.0,Trenton Gill,P,0.0,0.0,North Carolina St.,76.0,220.0,4.795385,31.800000,23.000000,117.200000,7.030000,4.130000,1.0,12,41
2306,7.0,256.0,Jesse Luketa,LB,0.0,0.0,Penn St.,75.0,253.0,4.890000,37.500000,22.419847,114.000000,7.079314,4.281776,1.0,6,29
2307,7.0,257.0,Marquis Hayes,OL,0.0,0.0,Oklahoma,77.0,318.0,5.300000,23.500000,27.140000,102.000000,7.720667,4.706000,1.0,13,30
2308,7.0,262.0,Brock Purdy,QB,0.0,0.0,Iowa St.,73.0,212.0,4.840000,27.000000,15.000000,112.619048,7.210000,4.450000,1.0,1,35

In [31]:
df.to_csv('final_data.csv', index=False)