# Data Setup

In [1]:
import pandas as pd

# Read in all csvs
file1url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2012c.csv'
file1 = pd.read_csv(file1url)
file2url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2013c.csv'
file2= pd.read_csv(file2url)
file3url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2014c.csv'
file3 = pd.read_csv(file3url)
file4url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2015c.csv'
file4 = pd.read_csv(file4url)
file5url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2016c.csv'
file5 = pd.read_csv(file5url)
file6url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2017c.csv'
file6 = pd.read_csv(file6url)
file7url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2018c.csv'
file7 = pd.read_csv(file7url)
file8url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2019c.csv'
file8 = pd.read_csv(file8url)
file9url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2020c.csv'
file9 = pd.read_csv(file9url)
file10url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2021c.csv'
file10 = pd.read_csv(file10url)
file11url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2022c.csv'
file11 = pd.read_csv(file11url)
file12url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2012x.csv'
file12 = pd.read_csv(file12url)
file13url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2013x.csv'
file13 = pd.read_csv(file13url)
file14url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2014x.csv'
file14 = pd.read_csv(file14url)
file15url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2015x.csv'
file15 = pd.read_csv(file15url)
file16url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2016x.csv'
file16 = pd.read_csv(file16url)
file17url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2017x.csv'
file17 = pd.read_csv(file17url)
file18url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2018x.csv'
file18 = pd.read_csv(file18url)
file19url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2019x.csv'
file19 = pd.read_csv(file19url)
file20url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2020x.csv'
file20 = pd.read_csv(file20url)
file21url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2021x.csv'
file21 = pd.read_csv(file21url)
file22url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2022x.csv'
file22 = pd.read_csv(file22url)
file23url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2012t.csv'
file23 = pd.read_csv(file23url)
file24url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2013t.csv'
file24 = pd.read_csv(file24url)
file25url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2014t.csv'
file25 = pd.read_csv(file25url)
file26url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2015t.csv'
file26 = pd.read_csv(file26url)
file27url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2016t.csv'
file27 = pd.read_csv(file27url)
file28url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2017t.csv'
file28 = pd.read_csv(file28url)
file29url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2018t.csv'
file29 = pd.read_csv(file29url)
file30url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2019t.csv'
file30 = pd.read_csv(file30url)
file31url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2020t.csv'
file31 = pd.read_csv(file31url)
file32url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2021t.csv'
file32 = pd.read_csv(file32url)
file33url = 'https://raw.githubusercontent.com/MaxCintra/Project__4/main/Data/2022t.csv'
file33 = pd.read_csv(file33url)



# Merge two DataFrames for each year and merge based on the "Player" column
merged_data_2012 = pd.merge(file1, file12, on='Player', how='inner')
merged_data_2013 = pd.merge(file2, file13, on='Player', how='inner')
merged_data_2014 = pd.merge(file3, file14, on='Player', how='inner')
merged_data_2015 = pd.merge(file4, file15, on='Player', how='inner')
merged_data_2016 = pd.merge(file5, file16, on='Player', how='inner')
merged_data_2017 = pd.merge(file6, file17, on='Player', how='inner')
merged_data_2018 = pd.merge(file7, file18, on='Player', how='inner')
merged_data_2019 = pd.merge(file8, file19, on='Player', how='inner')
merged_data_2020 = pd.merge(file9, file20, on='Player', how='inner')
merged_data_2021 = pd.merge(file10, file21, on='Player', how='inner')
merged_data_2022 = pd.merge(file11, file22, on='Player', how='inner')

In [2]:
fmerged_data_2012 = pd.merge(merged_data_2012, file23, on='Player', how='inner')
fmerged_data_2013 = pd.merge(merged_data_2013, file24, on='Player', how='inner')
fmerged_data_2014 = pd.merge(merged_data_2014, file25, on='Player', how='inner')
fmerged_data_2015 = pd.merge(merged_data_2015, file26, on='Player', how='inner')
fmerged_data_2016 = pd.merge(merged_data_2016, file27, on='Player', how='inner')
fmerged_data_2017 = pd.merge(merged_data_2017, file28, on='Player', how='inner')
fmerged_data_2018 = pd.merge(merged_data_2018, file29, on='Player', how='inner')
fmerged_data_2019 = pd.merge(merged_data_2019, file30, on='Player', how='inner')
fmerged_data_2020 = pd.merge(merged_data_2020, file31, on='Player', how='inner')
fmerged_data_2021 = pd.merge(merged_data_2021, file32, on='Player', how='inner')
fmerged_data_2022 = pd.merge(merged_data_2022, file33, on='Player', how='inner')

In [3]:
master_combined_data = pd.concat([fmerged_data_2012,
fmerged_data_2013,
fmerged_data_2014,
fmerged_data_2015,
fmerged_data_2016,
fmerged_data_2017,
fmerged_data_2018,
fmerged_data_2019,
fmerged_data_2020,
fmerged_data_2021,
fmerged_data_2022])

master_combined_data

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,-9999,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Player-additional_x,Drafted (tm/rnd/yr),Player-additional_y
0,1,1,Andrew Luck,QB,0,4,Stanford,LuckAn00,6-4,234.0,4.59,36.0,NaN,124.0,6.80,4.28,LuckAn00,Indianapolis Colts / 1st / 1st pick / 2012,LuckAn00
1,1,3,Trent Richardson,RB,0,0,Alabama,RichTr00,5-9,228.0,4.48,NaN,NaN,NaN,NaN,NaN,RichTr00,Cleveland Browns / 1st / 3rd pick / 2012,RichTr00
2,1,4,Matt Kalil,T,0,1,USC,KaliMa00,6-7,306.0,4.96,27.0,30.0,NaN,7.33,4.65,KaliMa00,Minnesota Vikings / 1st / 4th pick / 2012,KaliMa00
3,1,5,Justin Blackmon,WR,0,0,Oklahoma St.,BlacJu00,6-1,207.0,4.46,NaN,14.0,NaN,NaN,NaN,BlacJu00,Jacksonville Jaguars / 1st / 5th pick / 2012,BlacJu00
4,1,6,Morris Claiborne,DB,0,0,LSU,ClaiMo00,5-11,188.0,4.50,34.5,NaN,118.0,7.01,4.12,ClaiMo00,Dallas Cowboys / 1st / 6th pick / 2012,ClaiMo00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,7,251,Isiah Pacheco,RB,0,0,Rutgers,PachIs00,5-10,216.0,4.37,33.0,NaN,118.0,NaN,NaN,PachIs00,Kansas City Chiefs / 7th / 251st pick / 2022,PachIs00
205,7,255,Trenton Gill,P,0,0,North Carolina St.,GillTr01,6-4,220.0,NaN,NaN,NaN,NaN,NaN,NaN,GillTr01,Chicago Bears / 7th / 255th pick / 2022,GillTr01
206,7,256,Jesse Luketa,LB,0,0,Penn St.,LukeJe00,6-3,253.0,4.89,37.5,NaN,114.0,NaN,NaN,LukeJe00,Arizona Cardinals / 7th / 256th pick / 2022,LukeJe00
207,7,257,Marquis Hayes,OL,0,0,Oklahoma,HayeMa00,6-5,318.0,5.30,23.5,NaN,102.0,NaN,NaN,HayeMa00,Arizona Cardinals / 7th / 257th pick / 2022,HayeMa00
208,7,262,Brock Purdy,QB,0,0,Iowa St.,PurdBr00,6-1,212.0,4.84,27.0,NaN,NaN,7.21,4.45,PurdBr00,San Francisco 49ers / 7th / 262nd pick / 2022,PurdBr00

In [4]:
# Save the master combined DataFrame as a CSV file
master_combined_data.to_csv('Data/eleven_year_data.csv', index=False)

# Data Cleaning

In [5]:
df = pd.read_csv('Data/eleven_year_data.csv')
df.head()

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,-9999,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Player-additional_x,Drafted (tm/rnd/yr),Player-additional_y
0,1,1,Andrew Luck,QB,0,4,Stanford,LuckAn00,6-4,234.0,4.59,36.0,NaN,124.0,6.80,4.28,LuckAn00,Indianapolis Colts / 1st / 1st pick / 2012,LuckAn00
1,1,3,Trent Richardson,RB,0,0,Alabama,RichTr00,5-9,228.0,4.48,NaN,NaN,NaN,NaN,NaN,RichTr00,Cleveland Browns / 1st / 3rd pick / 2012,RichTr00
2,1,4,Matt Kalil,T,0,1,USC,KaliMa00,6-7,306.0,4.96,27.0,30.0,NaN,7.33,4.65,KaliMa00,Minnesota Vikings / 1st / 4th pick / 2012,KaliMa00
3,1,5,Justin Blackmon,WR,0,0,Oklahoma St.,BlacJu00,6-1,207.0,4.46,NaN,14.0,NaN,NaN,NaN,BlacJu00,Jacksonville Jaguars / 1st / 5th pick / 2012,BlacJu00
4,1,6,Morris Claiborne,DB,0,0,LSU,ClaiMo00,5-11,188.0,4.50,34.5,NaN,118.0,7.01,4.12,ClaiMo00,Dallas Cowboys / 1st / 6th pick / 2012,ClaiMo00

In [6]:
df['AP1'] = df['AP1'].apply(lambda x: 1 if x > 0 else 0)
df['PB'] = df['PB'].apply(lambda x: 1 if x > 0 else 0)

In [7]:
df.head()

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,-9999,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Player-additional_x,Drafted (tm/rnd/yr),Player-additional_y
0,1,1,Andrew Luck,QB,0,1,Stanford,LuckAn00,6-4,234.0,4.59,36.0,NaN,124.0,6.80,4.28,LuckAn00,Indianapolis Colts / 1st / 1st pick / 2012,LuckAn00
1,1,3,Trent Richardson,RB,0,0,Alabama,RichTr00,5-9,228.0,4.48,NaN,NaN,NaN,NaN,NaN,RichTr00,Cleveland Browns / 1st / 3rd pick / 2012,RichTr00
2,1,4,Matt Kalil,T,0,1,USC,KaliMa00,6-7,306.0,4.96,27.0,30.0,NaN,7.33,4.65,KaliMa00,Minnesota Vikings / 1st / 4th pick / 2012,KaliMa00
3,1,5,Justin Blackmon,WR,0,0,Oklahoma St.,BlacJu00,6-1,207.0,4.46,NaN,14.0,NaN,NaN,NaN,BlacJu00,Jacksonville Jaguars / 1st / 5th pick / 2012,BlacJu00
4,1,6,Morris Claiborne,DB,0,0,LSU,ClaiMo00,5-11,188.0,4.50,34.5,NaN,118.0,7.01,4.12,ClaiMo00,Dallas Cowboys / 1st / 6th pick / 2012,ClaiMo00

In [8]:
df[['Feet', 'Inches']] = df['Ht'].str.split('-', expand=True)

In [9]:
df['Feet'] = pd.to_numeric(df['Feet'])
df['Inches'] = pd.to_numeric(df['Inches'])
df['Ht'] = df['Feet'] * 12 + df['Inches']

In [10]:
df.head()

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,-9999,Ht,Wt,...,Vertical,Bench,Broad Jump,3Cone,Shuttle,Player-additional_x,Drafted (tm/rnd/yr),Player-additional_y,Feet,Inches
0,1,1,Andrew Luck,QB,0,1,Stanford,LuckAn00,76.0,234.0,...,36.0,NaN,124.0,6.80,4.28,LuckAn00,Indianapolis Colts / 1st / 1st pick / 2012,LuckAn00,6.0,4.0
1,1,3,Trent Richardson,RB,0,0,Alabama,RichTr00,69.0,228.0,...,NaN,NaN,NaN,NaN,NaN,RichTr00,Cleveland Browns / 1st / 3rd pick / 2012,RichTr00,5.0,9.0
2,1,4,Matt Kalil,T,0,1,USC,KaliMa00,79.0,306.0,...,27.0,30.0,NaN,7.33,4.65,KaliMa00,Minnesota Vikings / 1st / 4th pick / 2012,KaliMa00,6.0,7.0
3,1,5,Justin Blackmon,WR,0,0,Oklahoma St.,BlacJu00,73.0,207.0,...,NaN,14.0,NaN,NaN,NaN,BlacJu00,Jacksonville Jaguars / 1st / 5th pick / 2012,BlacJu00,6.0,1.0
4,1,6,Morris Claiborne,DB,0,0,LSU,ClaiMo00,71.0,188.0,...,34.5,NaN,118.0,7.01,4.12,ClaiMo00,Dallas Cowboys / 1st / 6th pick / 2012,ClaiMo00,5.0,11.0

In [11]:
df['Drafted_Binary'] = df['Drafted (tm/rnd/yr)'].notna().astype(int)

In [12]:
df

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,-9999,Ht,Wt,...,Bench,Broad Jump,3Cone,Shuttle,Player-additional_x,Drafted (tm/rnd/yr),Player-additional_y,Feet,Inches,Drafted_Binary
0,1,1,Andrew Luck,QB,0,1,Stanford,LuckAn00,76.0,234.0,...,NaN,124.0,6.80,4.28,LuckAn00,Indianapolis Colts / 1st / 1st pick / 2012,LuckAn00,6.0,4.0,1
1,1,3,Trent Richardson,RB,0,0,Alabama,RichTr00,69.0,228.0,...,NaN,NaN,NaN,NaN,RichTr00,Cleveland Browns / 1st / 3rd pick / 2012,RichTr00,5.0,9.0,1
2,1,4,Matt Kalil,T,0,1,USC,KaliMa00,79.0,306.0,...,30.0,NaN,7.33,4.65,KaliMa00,Minnesota Vikings / 1st / 4th pick / 2012,KaliMa00,6.0,7.0,1
3,1,5,Justin Blackmon,WR,0,0,Oklahoma St.,BlacJu00,73.0,207.0,...,14.0,NaN,NaN,NaN,BlacJu00,Jacksonville Jaguars / 1st / 5th pick / 2012,BlacJu00,6.0,1.0,1
4,1,6,Morris Claiborne,DB,0,0,LSU,ClaiMo00,71.0,188.0,...,NaN,118.0,7.01,4.12,ClaiMo00,Dallas Cowboys / 1st / 6th pick / 2012,ClaiMo00,5.0,11.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,7,251,Isiah Pacheco,RB,0,0,Rutgers,PachIs00,70.0,216.0,...,NaN,118.0,NaN,NaN,PachIs00,Kansas City Chiefs / 7th / 251st pick / 2022,PachIs00,5.0,10.0,1
2305,7,255,Trenton Gill,P,0,0,North Carolina St.,GillTr01,76.0,220.0,...,NaN,NaN,NaN,NaN,GillTr01,Chicago Bears / 7th / 255th pick / 2022,GillTr01,6.0,4.0,1
2306,7,256,Jesse Luketa,LB,0,0,Penn St.,LukeJe00,75.0,253.0,...,NaN,114.0,NaN,NaN,LukeJe00,Arizona Cardinals / 7th / 256th pick / 2022,LukeJe00,6.0,3.0,1
2307,7,257,Marquis Hayes,OL,0,0,Oklahoma,HayeMa00,77.0,318.0,...,NaN,102.0,NaN,NaN,HayeMa00,Arizona Cardinals / 7th / 257th pick / 2022,HayeMa00,6.0,5.0,1
2308,7,262,Brock Purdy,QB,0,0,Iowa St.,PurdBr00,73.0,212.0,...,NaN,NaN,7.21,4.45,PurdBr00,San Francisco 49ers / 7th / 262nd pick / 2022,PurdBr00,6.0,1.0,1

In [13]:
columns_to_drop = ['-9999', 'Player-additional_x', 'Player-additional_y', 'Feet', 'Inches', 'Drafted (tm/rnd/yr)']
df = df.drop(columns=columns_to_drop)

In [14]:
df.head()

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted_Binary
0,1,1,Andrew Luck,QB,0,1,Stanford,76.0,234.0,4.59,36.0,NaN,124.0,6.80,4.28,1
1,1,3,Trent Richardson,RB,0,0,Alabama,69.0,228.0,4.48,NaN,NaN,NaN,NaN,NaN,1
2,1,4,Matt Kalil,T,0,1,USC,79.0,306.0,4.96,27.0,30.0,NaN,7.33,4.65,1
3,1,5,Justin Blackmon,WR,0,0,Oklahoma St.,73.0,207.0,4.46,NaN,14.0,NaN,NaN,NaN,1
4,1,6,Morris Claiborne,DB,0,0,LSU,71.0,188.0,4.50,34.5,NaN,118.0,7.01,4.12,1

# Imputation

In [15]:
positions = df['Pos'].unique()

# Iterate over each position group
for pos in positions:
    # Filter the data for the current position
    pos_data = df[df['Pos'] == pos].copy()

    # Calculate the mean for selected columns
    mean_values = pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']].mean()

    # Impute missing values with mean values in the copy
    pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']] = pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']].fillna(mean_values)

    # Merge imputed data back into the original dataset
    df.update(pos_data)

df

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted_Binary
0,1.0,1.0,Andrew Luck,QB,0.0,1.0,Stanford,76.0,234.0,4.590000,36.000000,NaN,124.000000,6.800000,4.280000,1.0
1,1.0,3.0,Trent Richardson,RB,0.0,0.0,Alabama,69.0,228.0,4.480000,34.626404,18.960000,120.636905,7.038725,4.262870,1.0
2,1.0,4.0,Matt Kalil,T,0.0,1.0,USC,79.0,306.0,4.960000,27.000000,30.000000,105.500000,7.330000,4.650000,1.0
3,1.0,5.0,Justin Blackmon,WR,0.0,0.0,Oklahoma St.,73.0,207.0,4.460000,35.839015,14.000000,122.860465,6.944684,4.222308,1.0
4,1.0,6.0,Morris Claiborne,DB,0.0,0.0,LSU,71.0,188.0,4.500000,34.500000,15.413534,118.000000,7.010000,4.120000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,7.0,251.0,Isiah Pacheco,RB,0.0,0.0,Rutgers,70.0,216.0,4.370000,33.000000,18.960000,118.000000,7.038725,4.262870,1.0
2305,7.0,255.0,Trenton Gill,P,0.0,0.0,North Carolina St.,76.0,220.0,4.795385,31.800000,23.000000,117.200000,7.030000,4.130000,1.0
2306,7.0,256.0,Jesse Luketa,LB,0.0,0.0,Penn St.,75.0,253.0,4.890000,37.500000,22.419847,114.000000,7.079314,4.281776,1.0
2307,7.0,257.0,Marquis Hayes,OL,0.0,0.0,Oklahoma,77.0,318.0,5.300000,23.500000,27.140000,102.000000,7.720667,4.706000,1.0
2308,7.0,262.0,Brock Purdy,QB,0.0,0.0,Iowa St.,73.0,212.0,4.840000,27.000000,NaN,112.619048,7.210000,4.450000,1.0

In [16]:
df = df[df['Pos'] != 'K']

In [17]:
df

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted_Binary
0,1.0,1.0,Andrew Luck,QB,0.0,1.0,Stanford,76.0,234.0,4.590000,36.000000,NaN,124.000000,6.800000,4.280000,1.0
1,1.0,3.0,Trent Richardson,RB,0.0,0.0,Alabama,69.0,228.0,4.480000,34.626404,18.960000,120.636905,7.038725,4.262870,1.0
2,1.0,4.0,Matt Kalil,T,0.0,1.0,USC,79.0,306.0,4.960000,27.000000,30.000000,105.500000,7.330000,4.650000,1.0
3,1.0,5.0,Justin Blackmon,WR,0.0,0.0,Oklahoma St.,73.0,207.0,4.460000,35.839015,14.000000,122.860465,6.944684,4.222308,1.0
4,1.0,6.0,Morris Claiborne,DB,0.0,0.0,LSU,71.0,188.0,4.500000,34.500000,15.413534,118.000000,7.010000,4.120000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,7.0,251.0,Isiah Pacheco,RB,0.0,0.0,Rutgers,70.0,216.0,4.370000,33.000000,18.960000,118.000000,7.038725,4.262870,1.0
2305,7.0,255.0,Trenton Gill,P,0.0,0.0,North Carolina St.,76.0,220.0,4.795385,31.800000,23.000000,117.200000,7.030000,4.130000,1.0
2306,7.0,256.0,Jesse Luketa,LB,0.0,0.0,Penn St.,75.0,253.0,4.890000,37.500000,22.419847,114.000000,7.079314,4.281776,1.0
2307,7.0,257.0,Marquis Hayes,OL,0.0,0.0,Oklahoma,77.0,318.0,5.300000,23.500000,27.140000,102.000000,7.720667,4.706000,1.0
2308,7.0,262.0,Brock Purdy,QB,0.0,0.0,Iowa St.,73.0,212.0,4.840000,27.000000,NaN,112.619048,7.210000,4.450000,1.0

In [18]:
# Replace NaN values in 'Bench' with -9999 for positions that don't compete
df['Bench'].fillna(15, inplace=True)

C:\Users\bosto\AppData\Local\Temp\ipykernel_16692\1261737949.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bench'].fillna(15, inplace=True)

In [19]:
df

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted_Binary
0,1.0,1.0,Andrew Luck,QB,0.0,1.0,Stanford,76.0,234.0,4.590000,36.000000,15.000000,124.000000,6.800000,4.280000,1.0
1,1.0,3.0,Trent Richardson,RB,0.0,0.0,Alabama,69.0,228.0,4.480000,34.626404,18.960000,120.636905,7.038725,4.262870,1.0
2,1.0,4.0,Matt Kalil,T,0.0,1.0,USC,79.0,306.0,4.960000,27.000000,30.000000,105.500000,7.330000,4.650000,1.0
3,1.0,5.0,Justin Blackmon,WR,0.0,0.0,Oklahoma St.,73.0,207.0,4.460000,35.839015,14.000000,122.860465,6.944684,4.222308,1.0
4,1.0,6.0,Morris Claiborne,DB,0.0,0.0,LSU,71.0,188.0,4.500000,34.500000,15.413534,118.000000,7.010000,4.120000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,7.0,251.0,Isiah Pacheco,RB,0.0,0.0,Rutgers,70.0,216.0,4.370000,33.000000,18.960000,118.000000,7.038725,4.262870,1.0
2305,7.0,255.0,Trenton Gill,P,0.0,0.0,North Carolina St.,76.0,220.0,4.795385,31.800000,23.000000,117.200000,7.030000,4.130000,1.0
2306,7.0,256.0,Jesse Luketa,LB,0.0,0.0,Penn St.,75.0,253.0,4.890000,37.500000,22.419847,114.000000,7.079314,4.281776,1.0
2307,7.0,257.0,Marquis Hayes,OL,0.0,0.0,Oklahoma,77.0,318.0,5.300000,23.500000,27.140000,102.000000,7.720667,4.706000,1.0
2308,7.0,262.0,Brock Purdy,QB,0.0,0.0,Iowa St.,73.0,212.0,4.840000,27.000000,15.000000,112.619048,7.210000,4.450000,1.0

In [20]:
has_nan = df.isna().any().any()

if has_nan:
    print("There are NaN values in the DataFrame.")
else:
    print("There are no NaN values in the DataFrame.")

There are NaN values in the DataFrame.

In [21]:
nan_locations = df[df.isna().any(axis=1)]

# Print rows and columns with NaN values
print("Rows with NaN values:")
print(nan_locations)

print("\nColumns with NaN values:")
print(df.columns[df.isna().any()].tolist())

Rows with NaN values:
      Rnd   Pick             Player Pos  AP1   PB    College/Univ  Ht     Wt  \
1911  2.0   34.0       Elijah Moore  WR  0.0  0.0     Mississippi NaN    NaN
1939  3.0   65.0        Andre Cisco  DB  0.0  0.0        Syracuse NaN    NaN
1942  3.0   70.0  Brady Christensen  OL  0.0  0.0             BYU NaN    NaN
1982  4.0  116.0      Elerson Smith  DL  0.0  0.0   Northern Iowa NaN    NaN
2003  4.0  143.0    Tyree Gillespie   S  0.0  0.0        Missouri NaN    NaN
2009  5.0  150.0   Kenneth Gainwell  RB  0.0  0.0         Memphis NaN  201.0
2027  5.0  170.0      Garret Wallow  LB  0.0  0.0             TCU NaN    NaN
2035  5.0  180.0    Talanoa Hufanga   S  1.0  1.0             USC NaN    NaN
2043  6.0  188.0    Joshuah Bledsoe   S  0.0  0.0        Missouri NaN    NaN
2052  6.0  198.0     Larry Rountree  RB  0.0  0.0        Missouri NaN    NaN
2069  6.0  216.0       Quincy Roche  DL  0.0  0.0      Miami (FL) NaN    NaN
2074  6.0  222.0    Thomas Fletcher  LS  0.0  0.0         Alabama NaN    NaN
2076  6.0  227.0     Israel Mukuamu  DB  0.0  0.0  South Carolina NaN    NaN
2095  7.0  250.0      Khyiris Tonga  DL  0.0  0.0             BYU NaN    NaN
2099  7.0  258.0          Dax Milne  WR  0.0  0.0             BYU NaN    NaN

          40yd   Vertical     Bench  Broad Jump     3Cone   Shuttle  \
1911  4.350000  36.000000  17.00000  121.000000  6.630000  4.070000
1939  4.495793  35.929577  17.00000  123.449275  6.936545  4.190702
1942  5.155479  34.000000  30.00000  124.000000  7.720667  4.706000
1982  4.710000  41.500000  26.00000  127.000000  7.000000  4.390000
2003  4.380000  36.032051  15.00000  123.737500  7.060000  4.187000
2009  4.420000  34.626404  21.00000  120.636905  7.038725  4.262870
2027  4.650000  32.500000  22.00000  122.000000  6.870000  4.120000
2035  4.650000  36.032051  17.39726  123.737500  6.911795  4.187000
2043  4.511220  36.032051  17.39726  123.737500  6.911795  4.187000
2052  4.620000  30.000000  18.96000  120.636905  6.960000  4.262870
2069  4.842632  32.500000  23.00000  119.000000  7.344615  4.525000
2074  5.030000  29.875000  30.00000  112.333333  7.240000  4.450000
2076  4.495793  36.000000  34.00000  123.449275  6.936545  4.190702
2095  4.842632  32.857895  35.00000  115.789474  7.344615  4.525000
2099  4.540000  31.000000  14.00000  114.000000  6.944684  4.190000

      Drafted_Binary
1911             1.0
1939             1.0
1942             1.0
1982             1.0
2003             1.0
2009             1.0
2027             1.0
2035             1.0
2043             1.0
2052             1.0
2069             1.0
2074             0.0
2076             1.0
2095             1.0
2099             1.0

Columns with NaN values:
['Ht', 'Wt']

In [22]:
df.dropna(inplace=True)

C:\Users\bosto\AppData\Local\Temp\ipykernel_16692\1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [23]:
has_nan = df.isna().any().any()

if has_nan:
    print("There are NaN values in the DataFrame.")
else:
    print("There are no NaN values in the DataFrame.")

There are no NaN values in the DataFrame.

In [24]:
unique_positions = df['Pos'].unique()
print(unique_positions)

['QB' 'RB' 'T' 'WR' 'DB' 'LB' 'DT' 'DE' 'G' 'TE' 'C' 'P' 'OL' 'NT' 'FB'
 'OLB' 'CB' 'S' 'ILB' 'LS' 'DL']

In [25]:
position_encoding = {
    'QB': 1,
    'RB': 2,
    'T': 3,
    'WR': 4,
    'DB': 5,
    'LB': 6,
    'DT': 7,
    'DE': 8,
    'G': 9,
    'TE': 10,
    'C': 11,
    'P': 12,
    'OL': 13,
    'NT': 14,
    'FB': 15,
    'OLB': 16,
    'CB': 17,
    'S': 18,
    'ILB': 19,
    'LS': 20,
    'DL': 21,
}
df['Pos_encoded'] = df['Pos'].map(position_encoding)

C:\Users\bosto\AppData\Local\Temp\ipykernel_16692\1412481398.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Pos_encoded'] = df['Pos'].map(position_encoding)

In [26]:
df

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted_Binary,Pos_encoded
0,1.0,1.0,Andrew Luck,QB,0.0,1.0,Stanford,76.0,234.0,4.590000,36.000000,15.000000,124.000000,6.800000,4.280000,1.0,1
1,1.0,3.0,Trent Richardson,RB,0.0,0.0,Alabama,69.0,228.0,4.480000,34.626404,18.960000,120.636905,7.038725,4.262870,1.0,2
2,1.0,4.0,Matt Kalil,T,0.0,1.0,USC,79.0,306.0,4.960000,27.000000,30.000000,105.500000,7.330000,4.650000,1.0,3
3,1.0,5.0,Justin Blackmon,WR,0.0,0.0,Oklahoma St.,73.0,207.0,4.460000,35.839015,14.000000,122.860465,6.944684,4.222308,1.0,4
4,1.0,6.0,Morris Claiborne,DB,0.0,0.0,LSU,71.0,188.0,4.500000,34.500000,15.413534,118.000000,7.010000,4.120000,1.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,7.0,251.0,Isiah Pacheco,RB,0.0,0.0,Rutgers,70.0,216.0,4.370000,33.000000,18.960000,118.000000,7.038725,4.262870,1.0,2
2305,7.0,255.0,Trenton Gill,P,0.0,0.0,North Carolina St.,76.0,220.0,4.795385,31.800000,23.000000,117.200000,7.030000,4.130000,1.0,12
2306,7.0,256.0,Jesse Luketa,LB,0.0,0.0,Penn St.,75.0,253.0,4.890000,37.500000,22.419847,114.000000,7.079314,4.281776,1.0,6
2307,7.0,257.0,Marquis Hayes,OL,0.0,0.0,Oklahoma,77.0,318.0,5.300000,23.500000,27.140000,102.000000,7.720667,4.706000,1.0,13
2308,7.0,262.0,Brock Purdy,QB,0.0,0.0,Iowa St.,73.0,212.0,4.840000,27.000000,15.000000,112.619048,7.210000,4.450000,1.0,1

In [27]:
unique_schools = df['College/Univ'].unique()
print(unique_schools)

['Stanford' 'Alabama' 'USC' 'Oklahoma St.' 'LSU' 'Texas A&M' 'Boston Col.'
 'South Carolina' 'Memphis' 'Mississippi St.' 'Notre Dame' 'West Virginia'
 'North Carolina' 'Boise St.' 'Baylor' 'Syracuse' 'Iowa' 'Illinois'
 'Wisconsin' 'Virginia Tech' 'Appalachian St.' 'Cincinnati' 'California'
 'Clemson' 'Midwestern St.' 'Georgia' 'Georgia Tech' 'Connecticut'
 'Michigan St.' 'Penn St.' 'Oklahoma' 'Ohio St.' 'Arizona St.' 'Nebraska'
 'Marshall' 'Iowa St.' 'Oregon' 'Vanderbilt' 'Montana' 'Central Florida'
 'San Diego St.' 'North Carolina St.' 'SMU' 'Miami (FL)' 'Arkansas St.'
 'Missouri' 'Michigan' 'Rutgers' 'Temple' 'Louisiana' 'Arizona' 'Arkansas'
 'Southern Miss' 'Florida International' 'Utah' 'Wake Forest'
 'Florida St.' 'Utah St.' 'Fresno St.' 'Washington' 'Mississippi'
 'Florida' 'Texas' 'Nevada' 'South Carolina St.' 'Auburn' 'Maine'
 'Tennessee' 'Coastal Carolina' 'TCU' 'Colorado' 'Samford' 'Troy'
 'Cal Poly-San Luis Obispo' 'Florida Atlantic' 'Presbyterian' 'Kentucky'
 'South Dakota' 'Ala-Birmingham' 'Ohio' 'Rice' 'Northwestern' 'Virginia'
 'Chattanooga' 'Western Michigan' 'Northern Illinois' 'Central Michigan'
 'Houston' 'UCLA' 'Purdue' 'Kansas St.' 'Southeastern Louisiana'
 'Kent St.' 'Ark-Pine Bluff' 'Oregon St.' 'Georgia Southern'
 'South Florida' 'Missouri Southern' 'Valdosta St.' 'William & Mary'
 'James Madison' 'Cornell' 'Louisiana Tech' 'UT Martin' 'Western Kentucky'
 'Kansas' 'San Jose St.' 'Jacksonville St.' 'Bowling Green'
 'East Central (OK)' 'Southern Utah' 'Chadron St.' 'Harding'
 'Missouri Western St.' 'Miami (OH)' 'Washington St.' 'Elon'
 'New Hampshire' 'Florida A&M' 'Duke' 'Buffalo' 'Pittsburgh' 'Louisville'
 'Minnesota' 'BYU' 'Colorado St.' 'Texas Tech' 'Indiana' 'East. Illinois'
 'North Dakota St.' 'Maryland' 'Pittsburg St.' 'Towson' 'Wyoming'
 'Lindenwood' 'Bloomsburg' 'Furman' 'Tulane' 'Tennessee St.' 'Princeton'
 'Ball St.' 'NW Missouri St.' 'Concordia-St.Paul (MN)' 'Massachusetts'
 'Saginaw Valley St.' 'Hobart' 'Texas St.' 'Northern Iowa' 'East Carolina'
 'Southern Illinois' 'Navy' 'Delaware' 'Northwestern St. (LA)' 'Hawaii'
 'Newberry' 'East. Kentucky' 'North Carolina Central' 'Grand Valley St.'
 'Harvard' 'Texas-San Antonio' 'Montana St.' 'South Alabama' 'Ashland'
 'Villanova' 'Charlotte' 'East. Washington' 'Youngstown St.' 'Toledo'
 'North Carolina A&T' 'Kutztown (PA)' 'Drake' 'West Georgia'
 'Texas-El Paso' 'Georgia St.' 'South Dakota St.' 'Fort Hays St.'
 'Humboldt St.' 'Richmond' 'Weber St.' 'New Mexico St.' 'Fordham'
 'S.F. Austin' 'Illinois St.' 'Wagner' 'Middle Tenn. St.' 'Alabama St.'
 'Western Illinois' 'Sioux Falls' 'Old Dominion' 'East. Michigan'
 'Charleston (WV)' 'Washburn' 'Morgan St.' 'Lenoir-Rhyne' 'Dayton'
 "Saint John's (MN)" 'Tulsa' 'Liberty' 'Rhode Island'
 'Wisconsin–Whitewater' 'North Texas' 'Central Arkansas'
 'Central Missouri St.' 'Fayetteville St.' 'North Dakota'
 'Sam Houston St.' 'Air Force' 'Southern']

In [28]:
school_encoding = {}
for i, school in enumerate(unique_schools):
    school_encoding[school] = i

In [29]:
df['College/Univ_encoded'] = df['College/Univ'].map(school_encoding)

C:\Users\bosto\AppData\Local\Temp\ipykernel_16692\3514403639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['College/Univ_encoded'] = df['College/Univ'].map(school_encoding)

In [30]:
df

,Rnd,Pick,Player,Pos,AP1,PB,College/Univ,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted_Binary,Pos_encoded,College/Univ_encoded
0,1.0,1.0,Andrew Luck,QB,0.0,1.0,Stanford,76.0,234.0,4.590000,36.000000,15.000000,124.000000,6.800000,4.280000,1.0,1,0
1,1.0,3.0,Trent Richardson,RB,0.0,0.0,Alabama,69.0,228.0,4.480000,34.626404,18.960000,120.636905,7.038725,4.262870,1.0,2,1
2,1.0,4.0,Matt Kalil,T,0.0,1.0,USC,79.0,306.0,4.960000,27.000000,30.000000,105.500000,7.330000,4.650000,1.0,3,2
3,1.0,5.0,Justin Blackmon,WR,0.0,0.0,Oklahoma St.,73.0,207.0,4.460000,35.839015,14.000000,122.860465,6.944684,4.222308,1.0,4,3
4,1.0,6.0,Morris Claiborne,DB,0.0,0.0,LSU,71.0,188.0,4.500000,34.500000,15.413534,118.000000,7.010000,4.120000,1.0,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,7.0,251.0,Isiah Pacheco,RB,0.0,0.0,Rutgers,70.0,216.0,4.370000,33.000000,18.960000,118.000000,7.038725,4.262870,1.0,2,47
2305,7.0,255.0,Trenton Gill,P,0.0,0.0,North Carolina St.,76.0,220.0,4.795385,31.800000,23.000000,117.200000,7.030000,4.130000,1.0,12,41
2306,7.0,256.0,Jesse Luketa,LB,0.0,0.0,Penn St.,75.0,253.0,4.890000,37.500000,22.419847,114.000000,7.079314,4.281776,1.0,6,29
2307,7.0,257.0,Marquis Hayes,OL,0.0,0.0,Oklahoma,77.0,318.0,5.300000,23.500000,27.140000,102.000000,7.720667,4.706000,1.0,13,30
2308,7.0,262.0,Brock Purdy,QB,0.0,0.0,Iowa St.,73.0,212.0,4.840000,27.000000,15.000000,112.619048,7.210000,4.450000,1.0,1,35

In [31]:
#df.to_csv('final_data.csv', index=False)

In [32]:
alabama_players = df[df['College/Univ'] == 'USC']
print(alabama_players)

      Rnd   Pick               Player  Pos  AP1   PB College/Univ    Ht  \
2     1.0    4.0           Matt Kalil    T  0.0  1.0          USC  79.0
26    1.0   28.0           Nick Perry   DE  0.0  0.0          USC  75.0
118   4.0  128.0        Rhett Ellison   RB  0.0  0.0          USC  77.0
249   2.0   41.0         Robert Woods   WR  0.0  0.0          USC  72.0
278   3.0   71.0        T.J. McDonald   DB  0.0  0.0          USC  74.0
304   4.0   98.0         Matt Barkley   QB  0.0  0.0          USC  74.0
327   4.0  121.0        Khaled Holmes    C  0.0  0.0          USC  75.0
467   2.0   39.0          Marqise Lee   WR  0.0  0.0          USC  72.0
498   3.0   70.0        Marcus Martin    C  0.0  0.0          USC  75.0
594   5.0  174.0        Devon Kennard   DE  0.0  0.0          USC  75.0
651   1.0    6.0     Leonard Williams   DE  0.0  1.0          USC  77.0
668   1.0   20.0       Nelson Agholor   WR  0.0  0.0          USC  72.0
764   4.0  120.0            Josh Shaw   CB  0.0  0.0          USC  72.0
769   4.0  125.0       Javorius Allen   RB  0.0  0.0          USC  72.0
823   6.0  198.0       Randall Telfer   TE  0.0  0.0          USC  76.0
834   7.0  219.0        Hayes Pullard  ILB  0.0  0.0          USC  72.0
918   3.0   66.0            Max Tuerk    C  0.0  0.0          USC  77.0
944   3.0   93.0         Cody Kessler   QB  0.0  0.0          USC  73.0
1040  6.0  218.0        Kevon Seymour   CB  0.0  0.0          USC  71.0
1117  2.0   62.0  JuJu Smith-Schuster   WR  0.0  1.0          USC  73.0
1187  4.0  137.0          Zach Banner    T  0.0  0.0          USC  80.0
1273  1.0    3.0          Sam Darnold   QB  0.0  0.0          USC  75.0
1315  2.0   48.0        Uchenna Nwosu  OLB  0.0  0.0          USC  75.0
1342  3.0   79.0        Rasheem Green   DT  0.0  0.0          USC  77.0
1553  3.0   92.0          Chuma Edoga    T  0.0  0.0          USC  75.0
1614  5.0  162.0        Cameron Smith   LB  0.0  0.0          USC  74.0
1687  1.0   18.0       Austin Jackson    T  0.0  0.0          USC  77.0
1897  1.0   14.0   Alijah Vera-Tucker   OL  0.0  0.0          USC  76.0
1971  4.0  106.0           Jay Tufele   DL  0.0  0.0          USC  74.0
1978  4.0  112.0    Amon-Ra St. Brown   WR  0.0  1.0          USC  71.0
2105  1.0    8.0         Drake London   WR  0.0  0.0          USC  76.0
2154  2.0   61.0        Drake Jackson  OLB  0.0  0.0          USC  75.0
2277  6.0  201.0      Keaontay Ingram   RB  0.0  0.0          USC  72.0

         Wt      40yd   Vertical      Bench  Broad Jump     3Cone   Shuttle  \
2     306.0  4.960000  27.000000  30.000000  105.500000  7.330000  4.650000
26    271.0  4.550000  38.500000  35.000000  124.000000  7.250000  4.660000
118   251.0  4.780000  31.500000  18.960000  109.000000  7.038725  4.262870
249   201.0  4.510000  33.500000  14.000000  117.000000  7.150000  4.470000
278   219.0  4.590000  40.000000  19.000000  131.000000  6.890000  4.200000
304   227.0  4.910000  31.166667  15.000000  112.619048  7.106234  4.322785
327   302.0  5.290000  28.617647  13.000000  103.818182  7.705625  4.649375
467   192.0  4.520000  38.000000  14.941748  127.000000  6.944684  4.010000
498   320.0  5.380000  28.617647  23.000000  103.818182  7.705625  4.649375
594   249.0  4.700000  30.000000  23.000000  113.000000  7.250000  4.320000
651   302.0  4.970000  29.500000  23.693878  106.000000  7.590000  4.530000
668   198.0  4.420000  35.839015  12.000000  122.860465  6.944684  4.222308
764   201.0  4.440000  37.500000  26.000000  130.000000  7.010000  4.120000
769   221.0  4.530000  35.500000  11.000000  121.000000  6.960000  4.280000
823   250.0  4.830000  33.558824  20.000000  118.216495  7.114318  4.358791
834   240.0  4.780000  31.000000  19.000000  110.000000  7.070000  4.390000
918   298.0  5.120000  28.617647  22.000000  103.818182  7.705625  4.649375
944   220.0  4.890000  29.500000  15.000000  104.000000  7.320000  4.000000
1040  186.0  4.390000  35.000000  12.000000  124.000000  6.932333  4.180000
1117  215.0  4.540000  32.500000  15.000000  120.000000  6.944684  4.222308
1187  353.0  5.580000  23.500000  22.000000   92.000000  8.310000  5.210000
1273  221.0  4.850000  26.500000  15.000000  105.000000  6.960000  4.400000
1315  251.0  4.650000  32.000000  20.000000  119.000000  7.148889  4.309412
1342  275.0  4.730000  32.500000  27.365079  118.000000  7.240000  4.390000
1553  308.0  5.190000  28.504065  21.000000  105.500000  7.812478  4.756724
1614  238.0  4.690000  39.000000  15.000000  123.000000  7.079314  4.230000
1687  322.0  5.070000  31.000000  27.000000  115.000000  7.950000  4.756724
1897  308.0  5.050000  32.000000  36.000000  106.000000  7.670000  4.700000
1971  305.0  5.000000  30.000000  30.000000  105.000000  7.800000  4.880000
1978  197.0  4.510000  38.500000  20.000000  127.000000  6.880000  4.170000
2105  219.0  4.471382  35.839015  14.941748  122.860465  6.944684  4.222308
2154  254.0  4.659107  36.500000  22.476190  127.000000  7.148889  4.309412
2277  221.0  4.530000  34.500000  18.960000  122.000000  7.038725  4.262870

      Drafted_Binary  Pos_encoded  College/Univ_encoded
2                1.0            3                     2
26               1.0            8                     2
118              1.0            2                     2
249              1.0            4                     2
278              1.0            5                     2
304              1.0            1                     2
327              1.0           11                     2
467              1.0            4                     2
498              1.0           11                     2
594              1.0            8                     2
651              1.0            8                     2
668              1.0            4                     2
764              1.0           17                     2
769              1.0            2                     2
823              1.0           10                     2
834              1.0           19                     2
918              1.0           11                     2
944              1.0            1                     2
1040             1.0           17                     2
1117             1.0            4                     2
1187             1.0            3                     2
1273             1.0            1                     2
1315             1.0           16                     2
1342             1.0            7                     2
1553             1.0            3                     2
1614             1.0            6                     2
1687             1.0            3                     2
1897             1.0           13                     2
1971             1.0           21                     2
1978             1.0            4                     2
2105             1.0            4                     2
2154             1.0           16                     2
2277             1.0            2                     2

In [33]:
import json
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

# PLEASE OPEN JSON FILE create_database_creds.json AND ENTER YOUR CREDENTIALS
with open('create_database_creds.json') as O:
    config = json.load(O)
username = config['user']
password = config['password']
db_host = config['host']
db_port = config['port']
db_name = 'nfl_prediction_data_db'

# Create a connection to PostgreSQL
conn = psycopg2.connect(
    host=db_host,
    port=db_port,
    user=username,
    password=password,
)

conn.autocommit = True
cursor = conn.cursor()

# Create the database if it doesn't exist
cursor.execute(f"CREATE DATABASE {db_name}")


connection_path = f"postgresql://{username}:{password}@{db_host}:{db_port}/{db_name}"
engine = create_engine(connection_path)

table_name = 'nfl_final_data'

# Import data into the database using the engine
df.to_sql(table_name, engine, if_exists='replace', index=False)


engine.dispose()