In [1]:
import pandas as pd


df = pd.read_csv('Data/master_combined_data.csv')

In [2]:
# List of positions
positions = df['Pos'].unique()

# Iterate over each position group
for pos in positions:
    # Filter the data for the current position
    pos_data = df[df['Pos'] == pos].copy()

    # Calculate the mean for selected columns
    mean_values = pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']].mean()

    # Impute missing values with mean values in the copy
    pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']] = pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']].fillna(mean_values)

    # Merge imputed data back into the original dataset
    df.update(pos_data)

df

,Player,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Player-additional,...,Rush_TDs,Receptions,Receiving_Yards,Receiving_Touchdowns,Solo_Tackles,Interceptions,Sack,-9999,Pos_x,Pos_y
0,Johnathan Abram,5-11,205.0,4.450000,36.500000,18.285714,116.000000,6.917273,4.154615,AbraJo01,...,0.0,0.0,0.0,0.0,167.0,3.0,NaN,AbraJo01,NaN,NaN
1,Nasir Adderley,6-0,206.0,4.502187,36.500000,18.285714,124.451613,6.917273,4.154615,AddeNa00,...,0.0,0.0,0.0,0.0,168.0,3.0,0.5,AddeNa00,NaN,NaN
2,Dakota Allen,6-1,232.0,4.770000,31.500000,23.000000,116.000000,6.880000,4.040000,AlleDa01,...,0.0,0.0,0.0,0.0,19.0,NaN,NaN,AlleDa01,NaN,NaN
3,Josh Allen,6-5,262.0,4.630000,35.166667,28.000000,118.000000,7.150000,4.230000,AlleJo03,...,0.0,0.0,0.0,0.0,119.0,1.0,27.5,AlleJo03,NaN,NaN
4,Zach Allen,6-4,281.0,5.000000,32.000000,24.000000,112.000000,7.340000,4.360000,AlleZa01,...,0.0,0.0,0.0,0.0,79.0,1.0,11.5,AlleZa01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,Logan Woodside,6-1,213.0,4.790000,31.500000,NaN,103.000000,6.940000,4.150000,WoodLo00,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,WoodLo00,QB,QB
823,Isaiah Wynn,6-3,313.0,NaN,NaN,NaN,NaN,NaN,NaN,WynnIs00,...,0.0,0.0,0.0,0.0,2.0,NaN,NaN,WynnIs00,OG,T
824,Isaac Yiadom,6-1,190.0,4.520000,NaN,8.000000,120.000000,NaN,4.180000,YiadIs00,...,0.0,0.0,0.0,0.0,88.0,1.0,0.5,YiadIs00,CB,CB
825,Kenny Young,6-1,236.0,4.600000,36.000000,23.000000,117.000000,7.380000,4.480000,YounKe03,...,0.0,0.0,0.0,0.0,127.0,1.0,5.5,YounKe03,ILB,LB
826,Trevon Young,6-4,258.0,4.780000,33.000000,25.000000,114.000000,6.990000,4.400000,YounTr00,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,YounTr00,EDGE,DE

In [3]:
##df.to_csv('Data/imputed_combined_data.csv', index=False)

In [2]:
df2 = pd.read_csv('Data/2022_combined_data.csv')

In [3]:
# List of positions
positions2 = df2['Pos'].unique()

# Iterate over each position group
for pos in positions2:
    # Filter the data for the current position
    pos_data = df2[df2['Pos'] == pos].copy()

    # Calculate the mean for selected columns
    mean_values = pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']].mean()

    # Impute missing values with mean values in the copy
    pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']] = pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']].fillna(mean_values)

    # Merge imputed data back into the original dataset
    df2.update(pos_data)

df2

,Player,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Player-additional,...,Rush_Attempts,Rush_Yards,Rush_TDs,Receptions,Receiving_Yards,Receiving_Touchdowns,Solo_Tackles,Interceptions,Sack,-9999
0,Tyler Allgeier,5-11,224.0,4.600000,33.000000,23.500000,120.000000,NaN,NaN,AllgTy00,...,210.0,1035.0,3.0,16.0,139.0,1.0,2.0,NaN,NaN,AllgTy00
1,Troy Andersen,6-4,243.0,4.420000,36.000000,23.750000,128.000000,7.030000,4.326667,AndeTr00,...,0.0,0.0,0.0,0.0,0.0,0.0,40.0,NaN,NaN,AndeTr00
2,Tycen Anderson,6-2,209.0,4.360000,35.500000,19.000000,123.000000,6.640000,4.280000,AndeTy00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AndeTy00
3,Matt Araiza,6-1,200.0,4.680000,32.000000,NaN,121.000000,NaN,NaN,AraiMa00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AraiMa00
4,Jalyn Armour-Davis,6-1,197.0,4.390000,34.500000,14.000000,127.444444,6.686667,4.080000,ArmoJa00,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,NaN,NaN,ArmoJa00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Alex Wright,6-5,271.0,4.726923,34.346154,15.000000,118.076923,7.050000,4.338000,WrigAl01,...,0.0,0.0,0.0,0.0,0.0,0.0,13.0,NaN,NaN,WrigAl01
206,Devonte Wyatt,6-3,304.0,4.770000,29.000000,23.333333,111.000000,7.876667,4.704000,WyatDe00,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,NaN,1.5,WyatDe00
207,Cade York,6-1,206.0,NaN,NaN,12.000000,NaN,NaN,NaN,YorkCa00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,YorkCa00
208,Nick Zakelj,6-6,316.0,5.130000,28.500000,27.000000,110.000000,7.750000,4.710000,ZakeNi00,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,ZakeNi00
209,Bailey Zappe,6-1,215.0,4.880000,30.000000,NaN,109.000000,7.190000,4.400000,ZappBa00,...,10.0,0.0,0.0,1.0,-6.0,0.0,NaN,NaN,NaN,ZappBa00

In [4]:
##df2.to_csv('Data/imputed_2022_data.csv', index=False)