# Data Setup

In [1]:
import pandas as pd

# Read in all csvs
file1 = pd.read_csv('Data/2012c.csv')
file2 = pd.read_csv('Data/2013c.csv')
file3 = pd.read_csv('Data/2014c.csv')
file4 = pd.read_csv('Data/2015c.csv')
file5 = pd.read_csv('Data/2016c.csv')
file6 = pd.read_csv('Data/2017c.csv')
file7 = pd.read_csv('Data/2018c.csv')
file8 = pd.read_csv('Data/2019c.csv')
file9 = pd.read_csv('Data/2020c.csv')
file10 = pd.read_csv('Data/2021c.csv')
file11 = pd.read_csv('Data/2022c.csv')
file12 = pd.read_csv('Data/2012x.csv')
file13 = pd.read_csv('Data/2013x.csv')
file14 = pd.read_csv('Data/2014x.csv')
file15 = pd.read_csv('Data/2015x.csv')
file16 = pd.read_csv('Data/2016x.csv')
file17 = pd.read_csv('Data/2017x.csv')
file18 = pd.read_csv('Data/2018x.csv')
file19 = pd.read_csv('Data/2019x.csv')
file20 = pd.read_csv('Data/2020x.csv')
file21 = pd.read_csv('Data/2021x.csv')
file22 = pd.read_csv('Data/2022x.csv')
file23 = pd.read_csv('Data/2012t.csv')
file24 = pd.read_csv('Data/2013t.csv')
file25 = pd.read_csv('Data/2014t.csv')
file26 = pd.read_csv('Data/2015t.csv')
file27 = pd.read_csv('Data/2016t.csv')
file28 = pd.read_csv('Data/2017t.csv')
file29 = pd.read_csv('Data/2018t.csv')
file30 = pd.read_csv('Data/2019t.csv')
file31 = pd.read_csv('Data/2020t.csv')
file32 = pd.read_csv('Data/2021t.csv')
file33 = pd.read_csv('Data/2022t.csv')



# Merge two DataFrames for each year and merge based on the "Player" column
merged_data_2012 = pd.merge(file1, file12, file23 on='Player', how='inner')
merged_data_2013 = pd.merge(file2, file13, file24 on='Player', how='inner')
merged_data_2014 = pd.merge(file3, file14, file25 on='Player', how='inner')
merged_data_2015 = pd.merge(file4, file15, file26 on='Player', how='inner')
merged_data_2016 = pd.merge(file5, file16, file27 on='Player', how='inner')
merged_data_2017 = pd.merge(file6, file17, file28 on='Player', how='inner')
merged_data_2018 = pd.merge(file7, file18, file29 on='Player', how='inner')
merged_data_2019 = pd.merge(file8, file19, file30 on='Player', how='inner')
merged_data_2020 = pd.merge(file9, file20, file31 on='Player', how='inner')
merged_data_2021 = pd.merge(file10, file21, file32 on='Player', how='inner')
merged_data_2022 = pd.merge(file11, file22, file33 on='Player', how='inner')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (946932284.py, line 41)

In [ ]:
master_combined_data = pd.concat([merged_data_2012,
merged_data_2013,
merged_data_2014,
merged_data_2015,
merged_data_2016,
merged_data_2017,
merged_data_2018,
merged_data_2019,
merged_data_2020,
merged_data_2021,
merged_data_2022])

# Save the master combined DataFrame as a CSV file
master_combined_data.to_csv('Data/eleven_year_data.csv', index=False)

# Data Cleaning

In [ ]:
df = pd.read_csv('Data/eleven_year_data.csv')
df.head()

In [ ]:
df['AP1'] = df['AP1'].apply(lambda x: 1 if x > 0 else 0)
df['PB'] = df['PB'].apply(lambda x: 1 if x > 0 else 0)

In [ ]:
df.head()

In [ ]:
df[['Feet', 'Inches']] = df['Ht'].str.split('-', expand=True)

In [ ]:
df['Feet'] = pd.to_numeric(df['Feet'])
df['Inches'] = pd.to_numeric(df['Inches'])
df['Ht'] = df['Feet'] * 12 + df['Inches']

In [ ]:
df.head()

In [ ]:
columns_to_drop = ['-9999', 'Player-additional', 'Feet', 'Inches']
df = df.drop(columns=columns_to_drop)

In [ ]:
df.head()

# Imputation

In [ ]:
positions = df['Pos'].unique()

# Iterate over each position group
for pos in positions:
    # Filter the data for the current position
    pos_data = df[df['Pos'] == pos].copy()

    # Calculate the mean for selected columns
    mean_values = pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']].mean()

    # Impute missing values with mean values in the copy
    pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']] = pos_data[['40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle']].fillna(mean_values)

    # Merge imputed data back into the original dataset
    df.update(pos_data)

df

In [ ]:
df = df[df['Pos'] != 'K']

In [ ]:
df

In [ ]:
# Replace NaN values in 'Bench' with -9999 for positions that don't compete
df['Bench'].fillna(15, inplace=True)

In [ ]:
df

In [ ]:
has_nan = df.isna().any().any()

if has_nan:
    print("There are NaN values in the DataFrame.")
else:
    print("There are no NaN values in the DataFrame.")

In [ ]:
nan_locations = df[df.isna().any(axis=1)]

# Print rows and columns with NaN values
print("Rows with NaN values:")
print(nan_locations)

print("\nColumns with NaN values:")
print(df.columns[df.isna().any()].tolist())

In [ ]:
df.dropna(inplace=True)

In [ ]:
has_nan = df.isna().any().any()

if has_nan:
    print("There are NaN values in the DataFrame.")
else:
    print("There are no NaN values in the DataFrame.")

In [ ]:
unique_positions = df['Pos'].unique()
print(unique_positions)

In [ ]:
position_encoding = {
    'QB': 1,
    'RB': 2,
    'T': 3,
    'WR': 4,
    'DB': 5,
    'LB': 6,
    'DT': 7,
    'DE': 8,
    'G': 9,
    'TE': 10,
    'C': 11,
    'P': 12,
    'OL': 13,
    'NT': 14,
    'FB': 15,
    'OLB': 16,
    'CB': 17,
    'S': 18,
    'ILB': 19,
    'LS': 20,
    'DL': 21,
}
df['Pos_encoded'] = df['Pos'].map(position_encoding)

In [ ]:
df

In [ ]:
unique_schools = df['College/Univ'].unique()
print(unique_schools)

In [ ]:
school_encoding = {}
for i, school in enumerate(unique_schools):
    school_encoding[school] = i

In [ ]:
df['College/Univ_encoded'] = df['College/Univ'].map(school_encoding)

In [ ]:
df

In [ ]:
##df.to_csv('final_data.csv', index=False)